/* ---- 
DEFAUT
---- */
*,
:before,
:after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

/* ---- 
ELEMENTS
---- */

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
	text-decoration: none;
	font-size: 1.75em;
}

h1 {
	font-size: 6em;
	margin-bottom: 30px;
}

button {
	padding: 1.5em 2.75em;
	border-radius: 30px;
	width: fit-content;
}

/* ---- 
CLASSES
---- */

.ctn-index {
	padding: 50px;
	background-image: url(/images/cinema.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: row-reverse;
	.div-index {
		width: 45vw;
		height: 80vh;
		display: flex;
		flex-direction: column;
		padding: 2em 0 0 10em;
	}
}

.div-movies {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
	background-image: none;
	h1 {
		font-size: 150%;
		width: 100vw;
		display: block;
		padding: 20px 40px 0;
		margin-bottom: 0;
	}
	> p {
		width: 100vw;
		display: block;
		padding: 20px 40px 0;
		margin-bottom: 2em;
	}
	.movie {
		width: 30vw;
		height: 30vh;
		flex-direction: column;
		margin-bottom: 20vh;
		text-align: center;
		img {
			text-align: center;
			justify-content: center;
			width: 15vw;
			padding-bottom: 1em;
		}
		p {
			font-weight: 700;
			font-size: 120%;
			padding-bottom: 0.5em;
		}
		> a {
			font-size: 120%;
			text-decoration: underline;
		}
	}
}
